.navbar {
background: grey;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.note {
    font-size: .8em;
}


.search {

  color: black;
  font-family: arial;
}


.desk {
width: 100%;
display: flex;
justify-content: center;


}


.logo { 
width: 130px;
 height: 100px;
}

.link {
color:black;
font-size: 30px;
}


h1 {
font-size:50px;
color: #c7004c;
font-family: arial;
text-align: center;

}

h2 {

font-size: 26px;
color: black;
font-family: arial;
text-align: center;
}

h3 {
text-align: center;

}

h4 { text-align: center; }

.p1 { 
font-size: 15px;
color: black;
font-family: arial;
text-align: center;

 }

 .btn{

 color: brown;

 }



.cadre {
	background: white;
	border: 5px solid black ;
	margin : 100px;
	padding: 30px;
	border-radius: 7px;
}


.map {

width: 100%;
display: flex;
justify-content: center;

}

*, *:before, *:after {
  box-sizing: border-box;
}

.wine {
  position: relative;
  margin: 20px auto;
  width: 80px;
  height: 95px;
  background-color: rgba(228, 162, 160, 1.0);
  border: 5px solid #000;
  border-radius: 2px 2px 0px 0px;
  border-bottom-right-radius: 40px 35px;
  border-bottom-left-radius: 40px 35px;
  box-shadow: 
    0px 0px 0px 3px #fff inset,
    -20px -40px 0px -17px rgba(118, 10, 35, 1.0) inset,
    -23px -44px 0px -17px #fff inset,
    -40px -65px 0px -17px rgba(198, 23, 69, 1.0) inset,
    -43px -69px 0px -17px #fff inset;
  animation: fill 8s infinite alternate;
}
.wine:before,
.wine:after {
  content: '';
  position: absolute;
  background-color: #000;
}
.wine:before {
  top: 100%;
  left: 32px;
  width: 6px;
  height: 100px;
}
.wine:after {
  top: 185px;
  left: 5px;
  width: 60px;
  height: 10px;
  border-radius: 30px 30px 0px 0px;
}

@keyframes fill {
  from {
    background-color: rgba(228, 162, 160, 0);
    box-shadow: 
      3px 0px #fff inset,
      -3px 0px #fff inset,
      -3px -3px #fff inset,
      3px -3px #fff inset,
      0px 3px #fff inset,
      0px -3px #fff inset,
      -20px -40px 0px -17px rgba(118, 10, 35, 0) inset,
      -23px -44px 0px -17px #fff inset,
      -40px -65px 0px -17px rgba(198, 23, 69, 0) inset,
      -43px -69px 0px -17px #fff inset;
  }
  10% {
    box-shadow: 
      3px 0px #fff inset,
      -3px 0px #fff inset,
      -3px -3px #fff inset,
      3px -3px #fff inset,
      0px 3px #fff inset,
      0px -3px #fff inset,
      -20px -40px 0px -17px rgba(118, 10, 35, 1) inset,
      -23px -44px 0px -17px #fff inset,
      -40px -65px 0px -17px rgba(198, 23, 69, 0) inset,
      -43px -69px 0px -17px #fff inset;
  }
  20% {
    background-color: rgba(228, 162, 160, 0);
    box-shadow: 
      3px 0px #fff inset,
      -3px 0px #fff inset,
      -3px -3px #fff inset,
      3px -3px #fff inset,
      0px 3px #fff inset,
      0px -3px #fff inset,
      -20px -40px 0px -17px rgba(118, 10, 35, 1) inset,
      -23px -44px 0px -17px #fff inset,
      -40px -65px 0px -17px rgba(198, 23, 69, 1) inset,
      -43px -69px 0px -17px #fff inset;
  }
  30% {
    background-color: rgba(228, 162, 160, 1.0);
    box-shadow: 
      3px 0px #fff inset,
      -3px 0px #fff inset,
      -3px -3px #fff inset,
      3px -3px #fff inset,
      0px 3px #fff inset,
      0px -3px #fff inset,
      -20px -40px 0px -17px rgba(118, 10, 35, 1) inset,
      -23px -44px 0px -17px #fff inset,
      -40px -65px 0px -17px rgba(198, 23, 69, 1) inset,
      -43px -69px 0px -17px #fff inset;
  }
  to {
    background-color: rgba(228, 162, 160, 1.0);
    box-shadow: 
      3px 0px #fff inset,
      -3px 0px #fff inset,
      -3px -3px #fff inset,
      3px -3px #fff inset,
      0px 3px #fff inset,
      0px -3px #fff inset,
      -20px -40px 0px -17px rgba(118, 10, 35, 1.0) inset,
      -23px -44px 0px -17px #fff inset,
      -40px -65px 0px -17px rgba(198, 23, 69, 1.0) inset,
      -43px -69px 0px -17px #fff inset;
  }
}

.footer {
background: grey;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/*
.modal{ 

display: flex;
justify-content: center ;
background: yellow;

}*/

.btn2 {

padding: 20px;
color: black;


}

.btn2:hover {
  background: pink;
}
